<ion-header >
  <ion-toolbar>
    <ion-icon (click)="gotoHome()" name="arrow-back-outline"></ion-icon>
    <ion-title>
       Push Routine
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-card>
    <img src="assets/bench.jpg" />
    <ion-card-header>
      <ion-card-subtitle>Chest,Shoulders,Triceps.</ion-card-subtitle>
      <ion-card-title>Bench Press</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Slightly arch your back and keep your elbows below shoulder level.Slowly push the bar up.</p>
      
      
    </ion-card-content>
    
  </ion-card>
  <ion-card>
    <img src="assets/shoulder.jpg" />
    <ion-card-header>
      <ion-card-subtitle>Shoulders,Triceps.</ion-card-subtitle>
      <ion-card-title>Shoulder Press</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Keep your back straight whilst pushing the weight up.</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="assets/incline.jpeg" />
    <ion-card-header>
      <ion-card-subtitle>Chest,Shoulders,Triceps.</ion-card-subtitle>
      <ion-card-title>Incline Bench Press</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Slightly arch your back and keep your elbows below shoulder level.Slowly push the bar up.</p>
    </ion-card-content>
  </ion-card>
  

 
</ion-content>