<ion-header >
  <ion-toolbar>
    <ion-icon (click)="gotoHome()" name="arrow-back-outline"></ion-icon>
    <ion-title>
       Pull Routine
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-card>
    <img src="assets/brow.jpeg" />
    <ion-card-header>
      <ion-card-subtitle>Lats,Mid Back and Bisceps.</ion-card-subtitle>
      <ion-card-title>Barbell Row</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Bend over to around 45 degrees or more. Keep your back in a neutral position and pull the bar towards your body.</p>
      
      
    </ion-card-content>
    
  </ion-card>
  <ion-card>
    <img src="assets/drow.jpg" />
    <ion-card-header>
      <ion-card-subtitle>Lats,Rear Dealts and Bisceps.</ion-card-subtitle>
      <ion-card-title>Dumbell Row</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Keep your back parralel to the floor and pull your elbow back until it is lined up with your back.</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="assets/ezcurls.jpg" />
    <ion-card-header>
      <ion-card-subtitle>Bisceps.</ion-card-subtitle>
      <ion-card-title>Ez Bar Bisceps Curls</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Avoid swinging the body or the bar and move the weight only with your biscep muscles.</p>
    </ion-card-content>
  </ion-card>
  

 
</ion-content>