<ion-header >
  <ion-toolbar>
    <ion-icon (click)="gotoHome()" name="arrow-back-outline"></ion-icon>
    <ion-title>
       Legs Routine
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-card>
    <img src="assets/squat.jpg" />
    <ion-card-header>
      <ion-card-subtitle>Quads, Hamstrings and Glutes.</ion-card-subtitle>
      <ion-card-title>Barbell Squat</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Keep your back straight and legs shoulder width apart.Go down to at least parralel.</p>
      
      
    </ion-card-content>
    
  </ion-card>
  <ion-card>
    <img src="assets/lunge.jpg" />
    <ion-card-header>
      <ion-card-subtitle>Quads, Hamstrings and Glutes.</ion-card-subtitle>
      <ion-card-title>Dumbell Lunge</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Keep your back straight.</p>
    </ion-card-content>
  </ion-card>
  
  

 
</ion-content>